docs/n8n_Worklow.json
{
  "name": "Email Issue Collector",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": []
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        0
      ],
      "id": "5732059e-e601-44c3-9e6f-24f3c7aca9d3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        32,
        0
      ],
      "id": "e60bf9f0-da71-41c3-bf25-8dc62ae54146",
      "name": "Get a message",
      "webhookId": "7d395030-773d-42be-ae8d-13afc83c1a92",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json;\n\nconst headers = message.payload?.headers || [];\nconst getHeader = (name) => {\n  return headers.find((header) => header.name.toLowerCase() === name.toLowerCase())?.value || \"\";\n};\n\nconst decodeBase64Url = (value = \"\") => {\n  const normalized = value.replace(/-/g, \"+\").replace(/_/g, \"/\");\n  return Buffer.from(normalized, \"base64\").toString(\"utf8\");\n};\n\nconst getBody = (payload) => {\n  if (payload?.body?.data) return decodeBase64Url(payload.body.data);\n  const parts = payload?.parts || [];\n  const textPart = parts.find((part) => part.mimeType === \"text/plain\");\n  if (textPart?.body?.data) return decodeBase64Url(textPart.body.data);\n  const htmlPart = parts.find((part) => part.mimeType === \"text/html\");\n  if (htmlPart?.body?.data) return decodeBase64Url(htmlPart.body.data).replace(/<[^>]*>/g, \" \");\n  return message.snippet || \"\";\n};\n\nconst fromRaw = getHeader(\"From\") || message.From || message.from || \"\";\nconst subject = getHeader(\"Subject\") || message.Subject || message.subject || \"Join Feature Request\";\n\nconst emailMatch = fromRaw.match(/<([^>]+)>/) || fromRaw.match(/[^\\s<>]+@[^\\s<>]+/);\nconst senderEmail = Array.isArray(emailMatch) ? emailMatch[1] || emailMatch[0] : \"\";\nconst senderName = fromRaw.replace(/<[^>]+>/g, \"\").replace(/\"/g, \"\").trim() || senderEmail;\n\nreturn [{\n  json: {\n    messageId: message.id,\n    threadId: message.threadId,\n    senderName,\n    senderEmail,\n    subject,\n    body: getBody(message.payload),\n    receivedAt: new Date().toISOString(),\n    today: new Date().toISOString().slice(0, 10)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "4442a7a7-300b-4e8b-bd85-c272d4b190bc",
      "name": "Normalize Email"
    },
    {
      "parameters": {
        "jsCode": "const mail = $json;\n\nconst buildTitle = (subject = \"\", body = \"\") => {\n  if (subject && subject !== \"Join Feature Request\") {\n    return subject.trim();\n  }\n\n  return body\n    .split(\"\\n\")\n    .find((line) => line.trim().length > 10)\n    ?.slice(0, 60)\n    || \"New Stakeholder Request\";\n};\n\nconst buildDescription = (body = \"\") => {\n  return body.trim();\n};\n\nconst buildPriority = (text = \"\") => {\n  const normalized = text.toLowerCase();\n\n  if (\n    normalized.includes(\"urgent\") ||\n    normalized.includes(\"critical\") ||\n    normalized.includes(\"asap\")\n  ) {\n    return \"urgent\";\n  }\n\n  if (\n    normalized.includes(\"low\") ||\n    normalized.includes(\"minor\")\n  ) {\n    return \"low\";\n  }\n\n  return \"medium\";\n};\n\nconst createTaskId = () => {\n  return `task-${Date.now()}-${Math.random()\n    .toString(36)\n    .slice(2, 8)}`;\n};\n\nreturn [\n  {\n    json: {\n      id: createTaskId(),\n      title: buildTitle(mail.subject, mail.body),\n      description: buildDescription(mail.body),\n      category: \"Technical Task\",\n      priority: buildPriority(mail.body),\n      status: \"triage\",\n      dueDate: \"\",\n      createdAt: new Date().toISOString(),\n\n      creatorType: \"external\",\n      creatorName: mail.senderName,\n      creatorEmail: mail.senderEmail,\n\n      isEmailRequest: true,\n      aiGenerated: true,\n      requestSource: \"email\",\n\n      assignedTo: [],\n      subtasks: [],\n\n      requestStatus: \"new\",\n      requestReceivedAt: mail.receivedAt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        224
      ],
      "id": "e791cea6-b292-4831-b749-e2e7c3be5b31",
      "name": "Build Join Task Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://join-41a54-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        224
      ],
      "id": "86ad43a9-a125-493a-8472-4017b71ed3f3",
      "name": "Create Firebase Task"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $(\"Normalize Email\").first().json.messageId }}",
        "labelIds": [
          "Label_2321782965049367819"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1840,
        224
      ],
      "id": "db8e410c-f2d8-4275-9f40-0ea4b91d2526",
      "name": "Add Label erledigt",
      "webhookId": "c731fa2d-2fd7-4239-baf3-40efea03afa0",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $(\"Normalize Email\").first().json.messageId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2032,
        224
      ],
      "id": "4ad5af85-7198-41c7-9572-8c85ad6710b4",
      "name": "Remove Label Inbox",
      "webhookId": "8e1236fc-77b7-4cc3-9908-a0dd99bafdf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://join-41a54-default-rtdb.europe-west1.firebasedatabase.app/tasks.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "orderBy",
              "value": "\"threadId\""
            },
            {
              "name": "equalTo",
              "value": "=\"{{ $(\"Normalize Email\").first().json.threadId }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        0
      ],
      "id": "78658e85-584e-4f75-b5c3-6ad29287a33d",
      "name": "Check Existing Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e02a525-6cd5-4bc4-9c69-73a20d25d54c",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        112
      ],
      "id": "e9b46b8f-5518-442f-a1d6-457266b3d676",
      "name": "Already Exists?"
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Normalize Email\").first().json.senderEmail }}",
        "subject": "Your Join request was received",
        "message": "=Hi {{ $(\"Normalize Email\").first().json.senderName }},  thank you for your request.  Your email has been processed and a new ticket was created in the Join board. The ticket has been placed in the Triage column and will be reviewed by the team.  Best regards Join Issue Collector",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1648,
        224
      ],
      "id": "8bf0ea24-69f6-40f6-a6da-53d960a58b5b",
      "name": "Send Success Reply",
      "webhookId": "aa5be626-bfd3-42ed-be0d-5285dd14c5ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const requests = $json || {};\n\nconst senderEmail =\n  $(\"Normalize Email\").first().json.senderEmail;\n\nconst today =\n  $(\"Normalize Email\").first().json.today;\n\nconst requestList = Object.values(requests);\n\nconst dailyRequests = requestList.filter((request) => {\n  return (\n    request.creatorEmail === senderEmail &&\n    request.requestReceivedAt?.startsWith(today)\n  );\n});\n\nreturn [\n  {\n    json: {\n      senderEmail,\n      today,\n      requestCount: dailyRequests.length,\n      limitReached: dailyRequests.length >= 10\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "9376c39f-8135-4c63-8d94-14d8d8d64f59",
      "name": "Count Daily Requests"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b7f5519-e55c-4ba2-a9b9-17ea221521f9",
              "leftValue": "={{ $json.limitReached }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ],
      "id": "b3a04f0a-1bb1-4b60-a705-ad2c29f920af",
      "name": "Limit Reached?"
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Normalize Email\").first().json.senderEmail }}",
        "subject": "Request limit reached",
        "message": "=Hi {{ $(\"Normalize Email\").first().json.senderName }},  your daily request limit has been reached.  You can create up to 10 requests per day. Please try again tomorrow.  Best regards Join Issue Collector",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        -112
      ],
      "id": "826f46a7-256d-4286-8861-0f83cd96abe0",
      "name": "Send Limit Mail",
      "webhookId": "2713b39e-6b9e-4683-abd4-8cc9c85eee9f",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $(\"Normalize Email\").first().json.messageId }}",
        "labelIds": [
          "Label_3803559286550453248"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        -112
      ],
      "id": "da192fb5-f7f3-4c3c-b4a7-29223f51bacf",
      "name": "Add Label limit-erreicht",
      "webhookId": "bb218933-5e30-4117-92ae-6c0725ebed04",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $(\"Normalize Email\").first().json.messageId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -112
      ],
      "id": "c88fc63d-dc93-4d2b-a628-51e1dc2b8f73",
      "name": "Remove Label Inbox1",
      "webhookId": "f2a0d644-f6e2-42a9-bb81-b6d633243cab",
      "credentials": {
        "gmailOAuth2": {
          "id": "I1b1afT85XJPSJRr",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Check Existing Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Join Task Payload": {
      "main": [
        [
          {
            "node": "Create Firebase Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Firebase Task": {
      "main": [
        [
          {
            "node": "Send Success Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Label erledigt": {
      "main": [
        [
          {
            "node": "Remove Label Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Request": {
      "main": [
        [
          {
            "node": "Count Daily Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Exists?": {
      "main": [
        [],
        [
          {
            "node": "Build Join Task Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success Reply": {
      "main": [
        [
          {
            "node": "Add Label erledigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Daily Requests": {
      "main": [
        [
          {
            "node": "Limit Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Limit Mail": {
      "main": [
        [
          {
            "node": "Add Label limit-erreicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Label limit-erreicht": {
      "main": [
        [
          {
            "node": "Remove Label Inbox1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Reached?": {
      "main": [
        [
          {
            "node": "Send Limit Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a4b49d02-b2e6-44b6-a6e2-7da01ff24112",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b1b16336d085122610750f9160a26e21a96489f352debfc8ce573962dc1aa19"
  },
  "id": "CG80odEQwiingZXy",
  "tags": []
}